.searchbar {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 100;
}

.container {
    padding: 0 15px;
    margin: 0 auto;

}

.form {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding: 2px 15px;
    background-color: rgb(194, 180, 163);
    box-shadow: 3px 3px 5px 0px #ffffff;
}

.input {
    margin: 4px 0;
    text-align: center;
    background-color: rgb(194, 180, 163);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: 1px 1px 2px 1px rgb(94, 85, 74);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    transition: color 500ms ease-in-out;
}

.input:hover {
    color: #ffffff;
    background-color: rgb(209, 191, 169);
}

.input:focus {
    outline: none;
}

.input::placeholder {
    font-size: 16px;
}

.button {
    margin: 4px 0;
    padding: 1px 14px;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.04em;
    background-color: rgb(194, 180, 163);
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgb(94, 85, 74);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    transition: color 500ms ease-in-out;
}

.button:hover {
    background-color: rgb(209, 191, 169);
    color: #000000;
    cursor: pointer;
}